@import "tailwindcss";

/* Base dragonlance colors, for HOME and APP  */

#root {
  @apply container max-w-[1280px] mx-auto p-8;
  font-family: "Cinzel", serif;
  background: linear-gradient(135deg, #e0f2f1, #b3e5fc, #0288d1);
  border-radius: 20px;
  box-shadow: 25px 25px 10px rgba(14, 129, 236, 0.458),
    inset -8px -8px 20px rgba(175, 29, 27, 0.4);
  backdrop-filter: blur(30px);
}

#home {
  @apply no-underline text-orange-600;
}

#home a:hover {
  @apply no-underline text-inherit hover:text-orange-400 cursor-pointer;
}
